@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('fonts/lato-regular.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('fonts/lato-bold.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('fonts/lato-italic.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('fonts/lato-bolditalic.ttf');
}
